.pessoas {
    display: flex;
    justify-content: space-around;
    padding: 5rem;
}

@media screen and (min-width: 320px) {
    .pessoas {
        flex-direction: column;
    }
    
}

@media screen and (min-width: 768px) {
    .pessoas {
        flex-direction: row;
    }
    
}


@media screen and (min-width: 1094px) {
    .pessoas {
        flex-direction: row;
    }
    
}
